.columns {
    display: flex;
    flex-direction: row;
}

.column {
    padding: 0 20px;
}

.list > li {
    cursor: pointer;
}

#img-output {
    width: 100%;
    max-width: 650px;
    height: auto;
}